# Env Config
.htaccess
wp-config.php

# node_modules
wp-content/themes/chargeautomation/node_modules
wp-content/themes/chargeautomation/node_modules/

# ignore specific themes
wp-content/themes/twenty*/

# ignore editors
.idea/
.idea/*
.DS_Store